body {
  background-color: rgb(156, 156, 151);
}

.animal {
  margin: 1%;
  padding: 2%;
  width: 400px;
  border: 2px solid rgb(172, 155, 3);
  text-align: center;
  background-color: rgb(236, 226, 77);
  border-radius: 10px;
  border-width: medium thick;
}

.animalImg {
  width: 70%;
  height: auto;
  margin: 0 auto;
  border-radius: 5px;
}

#animal-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  text-align: center;
}

.red {
  background-color: red;
  border: 2px solid rgb(107, 7, 7);
  border-radius: 10px;
  border-width: medium thick;
}

.green {
  background-color: green;
  border: 2px solid rgb(11, 70, 11);
  border-radius: 10px;
  border-width: medium thick;
}